<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>로그인</title>
    <style>
      body{
        margin: 0px;
        padding: 0px;
        background-image: url(./jpg/cinema.jpg);
        background-position: center;
        background-size: 67%;
  
      }
    h1{
        text-transform: uppercase;
        text-align: center;
    }
    .container{
      background-color: white;
        position: relative;
        top: 30%;
        border: 1px solid #2d2822;
        border-radius: 24px;
        width: 500px;
    }

      input{
        border: none;
      }

    </style>
</head>

<body>
        <div class="container">
            <h1>login</h1>
  
                <form action="/login" class="was-validated" method=POST>
                  <div class="form-group">
                    <label for="uname">ID</label>
                    <input type="text" class="form-control"  placeholder="아이디" name="id" required>
                  </div>
                  <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control"  placeholder="비밀번호" name="password" required>
                  </div>
                  <button type="submit" class="btn btn-primary">로그인</button>
                </form>
              </div>

</body>

</html>